.container {
  width: 75%;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: auto;
  /* margin-top: 75px; */
  border-radius: 10px;
  background-image: linear-gradient(315deg, #0b2c3f 0%, #071428 74%, #070928 100%);
}

.top-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 60px 20px 40px 20px;
  border-bottom: 1px solid #fff;
}

.top-section input {
  padding: 10px;
  border-radius: 40px;
  border: none;
  outline: none;
  width: 75%;
  text-align: center;
  font-size: 20px;
  background-color: #fff;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.weather-icon {
  display: flex;
  justify-content: center;
  margin-top: 29px;
}

.temperature {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 120px;
  font-weight: 400;
}

.city {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}

.data-container {
  margin-top: 50px;
  color: #fff;
  display: flex;
  justify-content: center;
}

.element {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.data {
  font-size: 34px;
  font-weight: 400;
}

.text {
  font-size: 20px;
  font-weight: 400;
}

.Icon {
  margin-top: 10px;
}
