.container {
  width: 75%;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  background-image: url(../assets/OIP.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}

.top-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  padding: 40px 20px;
  border-bottom: 1px solid #fff;
}

.top-section input {
  padding: 10px;
  border-radius: 40px;
  border: none;
  outline: none;
  width: 75%;
  text-align: center;
  font-size: 20px;
  background-color: #fff;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  font-size: 30px;
  color: #000;
  cursor: pointer;
}

.weather-icon {
  background-image: linear-gradient(45deg, black, transparent);
  display: flex;
  justify-content: center;
}

.temperature {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 120px;
  font-weight: 400;
}

.city {
  display: flex;
  justify-content: center;
  color: #000;
  font-size: 60px;
  font-weight: 400;
}

.data-container {
  margin-top: 50px;
  color: #000;
  display: flex;
  justify-content: center;
}

.element {
  margin: auto;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.element img {
  background-image: linear-gradient(45deg, black, transparent);
}

.data {
  font-size: 34px;
  font-weight: 400;
}

.text {
  font-size: 20px;
  font-weight: 400;
}

.Icon {
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  .top-section {
    gap: 10px;
    padding: 10px;
  }

  .top-section input {
    width: 100%;
  }

  .weather-icon img {
    width: 50%;
    height: auto;
  }

  .temperature {
    font-size: 80px;
  }

  .city {
    font-size: 40px;
  }

  .data-container {
    margin-top: 30px;
  }

  .element {
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }

  .data {
    font-size: 24px;
  }

  .text {
    font-size: 16px;
  }

  .Icon {
    margin-top: 20px;
  }
}
